<!doctype html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
<%- include('../partials/candidatHeader'); %>

<main>

</main>
<!-- Bootstrap 5 JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/js/bootstrap.min.js"></script>
</body>
</html>