<div class="d-flex flex-wrap mt-5 gap-5">
    <% users.forEach(function(Offre) { %>
        <div class="card" style="width: 18rem">
            <div class="card-body">
                <h5 class="card-title"><%= fichePoste.intitule %></h5>
                <h6 class="card-subtitle mb-2 text-muted"><%= companyName %></h6>
                <p class="card-text"><%= fichePoste.description %></p>
                <div class="d-flex justify-content-between align-items-center">
                    <a href="#" class="btn btn-outline-primary">View offer</a>
                    <span class="text-primary"> <%= fichePoste.fourchetteBasse %> </span>
                </div>
            </div>
        </div>
    <% }); %>
</div>
