<!doctype html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
<%- include('../partials/candidatHeader', activePage=''); %>
<main class="p-5">
    <h1 class="text-center">Devenir Recruteur</h1>

    <section class="mt-4 p-5">
        <form class="container ms-0 w-100" onsubmit="return onSubmit(event)" method="POST">
            <label for="Organisation" class="form-label">Sélectionnez votre organisation</label>
            <select class="form-select" id="organisation" name="organisation">
                <% organisations.forEach(function(organisations) { %>
                    <option value="<%= organisations.siren %>"><%= organisations.nom %></option>
                <% }); %>
            </select>

            <div class="d-flex justify-content-end gap-3">
                <a href="new-organisation" class="btn btn-primary mt-3"><i class="fa fa-plus me-2"></i>Nouvelle Organisation</a>
                <a href="/" class="btn btn-secondary mt-3">
                    Retour
                </a>
                <input type="submit" class="btn btn-success mt-3" value="Valider">
            </div>
        </form>
    </section>

</main>
<!-- Bootstrap 5 JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/js/bootstrap.min.js"></script>
</body>
</html>