<meta charset="UTF-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<title>All Users</title>
<!-- Bootstrap 5 CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css" rel="stylesheet">
<style>
    .cursor-pointer {
        cursor: pointer;
    }
</style>