<div class="input-group w-60">
    <input type="text" class="form-control" placeholder="Rechercher un utilisateur" aria-label="Rechercher un utilisateur"
           aria-describedby="button-addon2">
    <button class="btn btn-outline-secondary" type="button" id="button-addon2">Rechercher</button>
</div>