<form class="input-group w-60">
    <input name="sforsearch" type="text" class="form-control" placeholder="<%- placeholder %>" aria-label="Rechercher un utilisateur"
           aria-describedby="button-addon2"/>
    <input class="btn btn-outline-secondary" type="submit" id="button-addon2"/>
</form>