<!doctype html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
</head>
<body>
<%- include('../partials/candidatHeader', activePage=''); %>
<main class="w-100">

    <section class="mt-4 p-5">
        <form class="container ms-0 w-100" method="POST">
            <a href="createFiche" class="btn btn-primary"><i class="fa fa-plus me-2"></i>Nouvelle Fiche de poste</a>
            <div id="ficheForm" class="mt-3">
                    <label for="fichePoste" class="form-label">Fiche Poste</label>
                    <select class="form-select" id="fichePoste" name="fichePoste">
                        <% fichesPoste.forEach(function(fiche) { %>
                            <option value="<%= fiche.id %>" ><%= fiche.intitule %></option>
                        <% }); %>
                    </select>
                </div>
                <div class="d-flex mt-4">
                    <div id =>
                        <label for="type" class="form-label">Type de poste</label>
                        <select class="form-select" id="type" name="type">
                            <option value="CDI">CDI</option>
                            <option value="CDD">CDD</option>
                            <option value="stage">stage</option>
                        </select>
                    </div>
                </div>
                <div class="d-flex justify-content-end gap-3">
                    <a href="offres" class="btn btn-secondary mt-3">
                        Retour
                    </a>
                    <input type="submit" class="btn btn-primary mt-3" value="Enregistrer">
                </div>
            </form>
        </section>

</main>
<!-- Bootstrap 5 JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/js/bootstrap.min.js"></script>
<!-- Font Awesome CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</body>
</html>